<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/user/{{model.userId}}/homePage">Muses</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.refresh()">UPGEADE</a></li>
                <li><a href="#/user/{{model.uid}}">ACCOUNT</a></li>
                <li><a ng-click = model.logout()>LOG_OUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container quizFormStyle">
    <h3>Take the quiz to be an VIP!</h3>
    <h3><small>In order to check you are an real music fan, we give you an small quiz including 10 questions.</small></h3>
        <h3><small>If you got more than 6 correct answer, you will become and VIP member.</small></h3>
    <h3><small>VIP right: you will have an playList in your account and you could add your favorite song!</small></h3>
    <h2>Quiz</h2>
    <hr>
    <form class="quizForm" id="q1" data-question="1">
        <h4>Q1. When was the "Aerosmith" album released?</h4>
        <ui>
            <li><input type="radio" name="q1" value="a"> 1978</li>
            <li><input type="radio" name="q1" value="b"> 1973<br></li>
            <li><input type="radio" name="q1" value="c"> 1980<br></li>
            <li><input type="radio" name="q1" value="d"> 1971<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q2" data-question="2">
        <h4>Q2. Which moive does Taylor Swift song for in 2016?</h4>
        <ui>
            <li><input type="radio" name="q2" value="a"> Fifty Grey</li>
            <li><input type="radio" name="q2" value="b"> Fifty Shades Darker<br></li>
            <li><input type="radio" name="q2" value="c"> Fantastic Beasts and Where to Find Them<br></li>
            <li><input type="radio" name="q2" value="d"> Doctor Strange<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q3" data-question="3">
        <h4>Q3. Who sings this song: The second she walked through the door, I caught a buzz. One taste from your lips knocked me out just like a drug</h4>
        <ui>
            <li><input type="radio" name="q3" value="a"> Drunk on your love by Brett Eldredge</li>
            <li><input type="radio" name="q3" value="b"> Crash and Burn by Thomas Rhett<br></li>
            <li><input type="radio" name="q3" value="c"> Drink a beer by Luke Bryan<br></li>
            <li><input type="radio" name="q3" value="d"> You<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q4" data-question="4">
        <h4>Q4. Which is the best Japanese idol group?</h4>
        <ui>
            <li><input type="radio" name="q4" value="a"> SMAP</li>
            <li><input type="radio" name="q4" value="b"> AKB48<br></li>
            <li><input type="radio" name="q4" value="c"> Arashi<br></li>
            <li><input type="radio" name="q4" value="d"> X Japan<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q5" data-question="5">
        <h4>Q5. What track on 'Justified' belongs to these lyrics: "Is that your hands, rubbing on me?"</h4>
        <ui>
            <li><input type="radio" name="q5" value="a"> (Oh No) What you got</li>
            <li><input type="radio" name="q5" value="b"> Rock your body<br></li>
            <li><input type="radio" name="q5" value="c"> Never again<br></li>
            <li><input type="radio" name="q5" value="d"> Like I love you<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q6" data-question="6">
        <h4>Q6. What was the band's first name for Marron 5?</h4>
        <ui>
            <li><input type="radio" name="q6" value="a"> Karly's Flowers</li>
            <li><input type="radio" name="q6" value="b"> Katia's Flowers<br></li>
            <li><input type="radio" name="q6" value="c"> Kara's Flowers<br></li>
            <li><input type="radio" name="q6" value="d"> Kara's Flower<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q7" data-question="7">
        <h4>Q7. Wale's newest 2016 single is inspired by what artist?</h4>
        <ui>
            <li><input type="radio" name="q7" value="a"> The Notorious B.I.G</li>
            <li><input type="radio" name="q7" value="b"> Lil Wayne<br></li>
            <li><input type="radio" name="q7" value="c"> Prince<br></li>
            <li><input type="radio" name="q7" value="d"> Michael Jackson<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q8" data-question="8">
        <h4>Q8. Which song contains the lyrics "Put him in the cellar, with the naughty boys..."</h4>
        <ui>
            <li><input type="radio" name="q8" value="a"> Great King Rat</li>
            <li><input type="radio" name="q8" value="b"> The March of the Black Queen<br></li>
            <li><input type="radio" name="q8" value="c"> Death On Two Legs<br></li>
            <li><input type="radio" name="q8" value="d"> Flick of the Wrist<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q9" data-question="9">
        <h4>Q9. What is Eminem's full name ?</h4>
        <ui>
            <li><input type="radio" name="q9" value="a"> Marshall John Mathers Jr.</li>
            <li><input type="radio" name="q9" value="b"> Marshall Mathers<br></li>
            <li><input type="radio" name="q9" value="c"> Jimmy Smith Jr.<br></li>
            <li><input type="radio" name="q9" value="d"> Marshall Bruce Mathers III<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    <form class="quizForm" id="q10" data-question="10">
        <h4>Q10. What was Kurt's favorite Nirvana song?</h4>
        <ui>
            <li><input type="radio" name="q10" value="a"> About a Girl</li>
            <li><input type="radio" name="q10" value="b"> Sliver<br></li>
            <li><input type="radio" name="q10" value="c"> Smells like teen spirit<br></li>
            <li><input type="radio" name="q10" value="d"> In Bloom<br></li>
        </ui>
        <button id="submit">Submit</button>
    </form>

    </br>
    <div id="result"></div>

    <footer>
        <div class="pull-left">Total : 10 Questions</div>
    </footer>

</div>
