
<nav class="navbar navbar-fixed-top bg-primary">

    <a href="#/user/{{model.userId}}">
        <h4 class = "glyphicon glyphicon-chevron-left"></h4>
    </a>

    <a class = "navbar-brand" href = "#">
        <span class = "h3">Websites</span>
    </a>

    <a href="#/user/{{model.userId}}/website/new">
        <h4 class="glyphicon glyphicon-plus" ></h4>
    </a>

</nav>




<div class = "container-fluid" id="addtop">
    <ul class = "list-group">
        <li ng-repeat = "website in model.websites" class = "list-group-item">
            <a href = "#/user/{{model.userId}}/website/{{website._id}}/page">
               {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class = "pull right">
                <span class="glyphicon glyphicon-cog" ></span>
            </a>
        </li>
</div>





    <nav class="navbar navbar-fixed-bottom bg-primary">
        <a href="#/user/{{model.userId}}">
            <h4 class="glyphicon glyphicon-user"></h4>
        </a>
    </nav>
