
<nav class="navbar navbar-fixed-top smoke-bg">
    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
        <h4 class = "glyphicon glyphicon-chevron-left pageColor"></h4>
    </a>
    <a class = "navbar-brand">
        <span class = "h3 pageText" id = "topright" >Widget Edit</span>
    </a>
    <a ng-click ="model.updateWidget()">
        <h4 class="glyphicon glyphicon-ok pageColor" ></h4>
    </a>
</nav>


<div class="container FisrtTop">

        <div>
            <label for="Name" class="widgetText">Name</label>
            <input ng-model = "model.widget.name"
                   type="text" class="form-control" id="Name" placeholder="Name">
        </div>

      <div ng-model="model.widget.text"
           text-angular text-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
           ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
           ['indent','outdent'],['html']]">
      </div>



    <a ng-click = "model.deleteWidget()"
       class="btn btn-danger btn-block">Delete</a>
    <div ng-show="model.error" class = "alert alert-danger" role = " alert">
        {{model.error}}
    </div>
</div>



<nav class="navbar navbar-fixed-bottom smoke-bg">
    <a href="#/user/{{model.uid}}">
        <h4 id = "pageUser" class="glyphicon glyphicon-user"></h4>
    </a>
</nav>
